body {
  margin: 0;
  padding: 0; }
  body .main-container .breadcr {
    padding: 0; }

body {
  font-family: Lato,sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  color: #909090; }
  body .main-container {
    padding-top: 30px; }
  body .page-header {
    margin-top: 15px; }

a {
  color: #928f8f; }

h1 {
  color: black;
  font-size: 24px;
  font-weight: 540; }

.branding {
  padding-top: 16px; }

.container-fluid {
  margin: 0 8px;
  padding-bottom: 5px; }

.select-wrapper:after {
  color: #e6ca34; }

.region-content {
  position: relative; }
  .region-content .contextual-region {
    position: unset; }
  .region-content .view-header {
    position: absolute;
    top: 0px;
    right: 10px;
    -webkit-transition: background-color 0.5s;
    -moz-box-transition: background-color 0.5s;
    transition: background-color 0.5s;
    float: right;
    border: 1px solid #ffd715;
    padding: 4px 12px;
    font-weight: bold;
    border-radius: 5%; }
    .region-content .view-header a:hover {
      text-decoration: none; }
  .region-content .view-header:hover {
    background-color: yellow;
    text-decoration: none; }
  .region-content .btn-success {
    background-color: #e7e7e7;
    color: #333333;
    border-color: #cccccc; }
  .region-content .btn-success:hover {
    background-color: #000000;
    color: #ffd700; }
  .region-content .btn-default:hover {
    background-color: #ffd700;
    color: #000000; }
  .region-content .btn-info {
    background-color: #e6ca34;
    border-color: #cccccc; }
  .region-content .btn-info:hover {
    background-color: #000000;
    color: #ffd700; }

.header-shadow {
  -webkit-box-shadow: 1px 5px 10px -2px #c7c1c1;
  -moz-box-shadow: 1px 5px 10px -2px #c7c1c1;
  box-shadow: 1px 5px 10px -2px #c7c1c1; }

.content-shadow {
  -webkit-box-shadow: 1px 3px 6px 1px #c7c1c1;
  -moz-box-shadow: 1px 3px 6px 1px #c7c1c1;
  box-shadow: 1px 3px 6px 1px #c7c1c1; }

.side-bar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  color: #727272; }
.side-bar .region-sidebar-first a:hover {
  background-color: #000000;
  color: #ffd700; }
.side-bar li {
  border: 1px solid #b9b9b9;
  border-bottom-style: none; }
.side-bar .last {
  border-bottom: 1px solid #b9b9b9; }
.side-bar .caret {
  position: absolute;
  top: 20px;
  right: 15px; }
.side-bar .dropdown {
  position: relative; }
  .side-bar .dropdown .dropdown-menu {
    width: 100%; }

header a {
  color: #6d6c6c; }
header .menu a:hover {
  color: black;
  background-color: white; }
header .branding {
  border-bottom: 1px solid #b9b9b9; }
header .navbar-toggle .icon-bar {
  background-color: black; }

.main-content {
  padding-bottom: 30px; }
  .main-content a {
    color: black; }
  .main-content a.button:before {
    content: "+";
    border: 2.4px solid;
    border-radius: 100%;
    padding: 0px 5px;
    color: black; }
  .main-content .field--name-body p {
    padding-top: 40px; }
  .main-content td {
    color: black; }
  .main-content .page-header {
    text-align: center; }

.branding i {
  float: right;
  font-size: 25px;
  padding: 10px 0;
  margin-left: 20px; }
.branding i:hover {
  color: #e6ca34; }

/*# sourceMappingURL=main.css.map */
