// File: _layout.scss
// This file contains all styles related to the layout of the site/application.
body {
    margin: 0;
    font-family: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
}