.side-bar {
    .menu--sidebar-menu {
        a{
            font-family: 14px 'Open Sans', sans-serif;
            font-weight: normal;
            font-style: normal;
            line-height: 23px;
            color: #727272;
        }
        a:hover {
            background-color: black;
            color: yellow;
        }
    }
}