.region-content {
  position: relative;
  .contextual-region {
    position: unset;
  }
  .view-header {
    position: absolute;
    top: 0px;
    right: 10px;
    @include button-transition;
    float: right;
    border: 1px solid $button-border;
    padding: 4px 12px;
    font-weight: bold;
    border-radius: 5%;
    a::before {
      content: '+';
      font-size: 16px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .view-header:hover {
    background-color: $yellow;
    text-decoration: none;
  }
  .btn-success {
    background-color: $whiteish;
    color: $blackish;
    border-color: $gray;
  }
  .btn-success:hover {
    background-color: $black;
    color: $hover-text;
  }
  .btn-default:hover {
    background-color: $yellow;
    color: $black;
  }
  .btn-info {
    background-color: $white;
    border-color: $gray;
    color: $black; 
  }
  .btn-info:hover {
    background-color: $yellow;
  }
}