.header-shadow {
    -webkit-box-shadow: 1px 5px 10px -2px #c7c1c1;
       -moz-box-shadow: 1px 5px 10px -2px #c7c1c1;
            box-shadow: 1px 5px 10px -2px #c7c1c1;
        }
.right-side-shadow {
	-webkit-box-shadow: 1px 3px 6px 1px #c7c1c1;
	   -moz-box-shadow: 1px 3px 6px 1px #c7c1c1;
	        box-shadow: 1px 3px 6px 1px #c7c1c1;
}