.side-bar {
    a{
        font-family:'Open Sans', sans-serif;
        font-size:  14px;
        font-weight: normal;
        font-style: normal;
        line-height: 23px;
        color: #727272;
    }
    .region-sidebar-first a:hover {
        background-color: #000000;
        color: #ffd700;
    }
    li {
        border: 1px solid #b9b9b9;
        border-bottom-style: none;
    }
    .last{
        border-bottom: 1px solid #b9b9b9;
    }
    .caret {
        position: absolute;
        top: 20px;
        right: 15px;
    }
    .dropdown {
        position: relative;
        .dropdown-menu {
            width: 100%;
        }
    }
}