.region-sidebar-first {
  a{
    font-family:Lato, sans-serif;
    font-size:  14px;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: $navbar-links;
  }
  .nav a:hover {
    background-color: $black;
    color: $hover-text;
    text-decoration: none;
  }
  li {
    border: 1px solid $gray-border;
    border-bottom-style: none;
  }
  .last{
    border-bottom: 1px solid $gray-border;
  }
  .caret {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .dropdown {
    position: relative;
    .dropdown-menu {
      width: 100%;
    }
  }
}