body {
  font-family: Lato,sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  color: $font-color;
  .main-container {
    padding-top: 30px;
  }
  .page-header {
    margin-top: 15px;
  }
}
a {
  color: $link-color;
}
img {
  width: 100%;
}
h1 {
  color: $black;
  font-size: 24px;
  font-weight: 540;
}
.branding {
  padding-top: 16px;
}
.container-fluid {
  margin: 0 8px;
  padding-bottom: 5px;
  }
.select-wrapper:after {
  color: $theme-color;
}
.form-control:focus {
  border-color: $theme-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(253, 255, 89, 0.71);
}
table {
  width: 100%;
   display: inline-table;
   max-width: 100%;
   overflow-x: scroll;
}
.header-shadow {
  @include header-shadow;
}