body {
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #909090;
    .main-container {
        padding-top: 30px;
    }
    .page-header {
        margin-top: 15px;
    }
}
a {
    color: #928f8f;
}
h1 {
    color: black;
    font-size: 24px;
    font-weight: 540;
}
.branding {
    padding-top: 16px;
}
.container-fluid {
    margin: 0 8px;
    padding-bottom: 5px;
    }
.select-wrapper:after {
    color: #e6ca34;
}