// Colors
$black: #000000;
$font-color: #909090;
$link-color:#928f8f;
$theme-color: #e6ca34;
$yellow: #ffff00;
$gray: #cccccc;
$white: #ffffff;
$hover-text:#ffd700;
$icon-hover:#e6ca34;
$gray-border:#b9b9b9;
$navbar-links:#6D6C6C;
$horizontal-line:#B9B9B9;
$whiteish:#e7e7e7;
$button-border:#ffd715;
$blackish:#333333;
$footer-bg: #eeeeee;
// Box Shadow color
$shadow-color: #c7c1c1;
// Media Queries
$desktop-breakpoint: 1224px;
$ipad-breakpoint: 768px;
$mobile-breakpoint: 480px;